<section class="testimonials-section">
    <div class="container">
        <div class="section-title text-center">

            <h2>Innovative SEO Services At Cost Effective Prices!</h2>
            <span class="border-center"></span>
        </div>
        <div class="two-column-carousel">
            <div class="item" style="background-color: aliceblue;">
                <p style="text-align: left; word-wrap: break-word; ">Looking to rank your website higher in the Google searches? Look no further than Code Garage Tech! We are the leading web design and digital <span>marketing company</span> providing effective SEO services in no time. A beautifully designed website is a waste if it fails to attract visitors or make its mark in the SERP’s.</p>

            </div>
        </div>
        <div class="section-title" style="margin-top: 35px;">
          <h3 style="font-size: 38px;">We will help you reach and stay at the top spot!</h3>
        </div>
        <div class="two-column-carousel">
            <div class="item" style="background-color: aliceblue;">
              <p style="text-align: left;">Search Engine Optimization or SEO is the process of propelling your website to the top of the search engine results page. It is one of the most effective and affordable form of online marketing. Websites that rank higher, get more traffic and generate more business. And without organic SEO, it’s next to impossible to secure top rankings.</p>
            </div>
        </div>
        <div class="section-title" style="margin-top: 28px;">
          <h3 style="font-size: 28px;">How Search Engine Optimization Works</h3>
        </div>
        <div class="two-column-carousel">
            <div class="item" style="background-color: aliceblue;">
              <p style="text-align: left;">In order to reach a service or product, a customer enters a keyword or key phrase into the search engines. They, in turn, rely on complex algorithms to present the relevant results. Generally, people browse through the first page only and you get unnoticed if you aren’t listed on the first page. This is where we step in. We get you on the first page in promised timeframe.<br>
                Many amateur SEO agencies use black hat SEO, keyword stuffing and bad link building techniques to get you instant results. These techniques will not only hurt your rankings but may probably get you penalized by search engines. Our SEO experts use hundreds of different variables to ethically secure higher rankings for your site including quality content and comprehensive keyword research.
              </p>
            </div>
        </div>
    </div>
</section>
<section class="blog-section style-two">
        <div class="container">
          <h1 style="text-align:center">Why is SEO Beneficial to Your Business?</h1>
          <span class="border-center"></span>
            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="item-holder" style="background-color: aliceblue;">

                        <div class="image-text">

                            <h4>Finding The Right Keywords</h4>
                            <p style="text-align: justify;">We research deeply to find the exact keywords your customers are using to search for the relevant products and services you are offering. This makes your website gains an instant connection with your customers.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="item-holder" style="background-color: aliceblue;">

                        <div class="image-text">

                          <h4>Link Building</h4>
                            <p style="text-align: justify;">Having good links to your website will help in marketing it in the online world. Our skilled team knows exactly how to build up links to help a website promote itself and we don't require fake links to do that.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="item-holder" style="background-color: aliceblue;">

                        <div class="image-text">

                            <h4>Intelligent Content Marketing</h4>
                            <p style="text-align: justify;">We make sure to pass with flying colors when search engine bots crawl a website for its relevant and effective content. Through intelligent content, we make sure your website gets instant attention from the search engines.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="item-holder" style="background-color: aliceblue;">

                        <div class="image-text">

                            <h4>PPC Campaigning</h4>
                            <p style="text-align: justify;">We make sure you get maximum attention form your online customers by setting up creative PPC campaigns. This will help in generating more leads and create more chances for a higher conversion rate.</p>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>
    <section class="testimonials-section" style="padding-top:0px;  padding-bottom:45px; margin-top:-78px">
        <div class="container">
            <div class="section-title">
              <h3 style="font-size: 38px;">SEO Experts</h3>
            </div>
            <div class="two-column-carousel">
                <div class="item" style="background-color: aliceblue;">
                  <p style="text-align: justify;">Code Garage Tech has been established to revolutionize the internet marketing by its innovative and top-notch solutions. Whatever we do, we do for our clients. Getting higher rankings, potential customers and enhancing the online visibility through ethical means is what gets you into top SERPs.</p>
                </div>
            </div>
            <div class="row" style="margin-top: 35px;">

                <div class="col-md-8 col-md-offset-2">
                        <h4 style="text-align: center;margin-left: -3px;">Just Dreaming Big To Rank Higher Is Not Enough!
                           You Got To Work Hard For It & We Do It Smartly For You!</h4>

                       <span class="border-center"></span>
                        <!--
                        <form class="new_contact" id="new_contact" action="/contacts" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="CKXH1ud7P0ti+1VZjW/E9nuJgzEu3B4DbKbfpn6/GCDUXdh9osPtv8WFfCrc2j34+fbvSNPSyaBPG+Q6hzTk9A==">
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input id="form_email" type="email" name="contact[email]" class="form-control" placeholder="Email*" required="required" data-error="Valid email is required.">
                                                 <button class="filled-btn btn-comment">GET IN TOUCH
                                                 </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                      -->
                      <a href="/contact"><button class="filled-btn btn-comment" >REQUEST A QUOTE
                      </button></a>
                </div>
            </div>

        </div>
    </section>
