
        <!--====== CONTACT INFO AREA ======-->
        <div id="contact" class="contact-info-area section-padding">
            <div class="container">
                 
               <div class="row"  >
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Edit Blog</h2>
                        <br>
                        <div class="contact-form-a  rea">
                            <%= form_for @blog do |f| %>
                            
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row" >
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">

                                                <input  id="form_name" type="text" name="blog[title]" value="<%=@blog.title%>" class="form-control" placeholder="Title" required="required" data-error="Name is required."  >
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        
                                    </div> <!--/.row-->

                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group text-area">
                                                <textarea id="form_message" name="blog[text]" class="form-control" placeholder="Content" rows="7" required="required" data-error="Please,leave us a message."><%=@blog.text%></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" class="filled-btn" value="Update Blog">
                                        </div>
                                    </div> <!--/.row-->
                                </div>
                            <%end%>
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>
                </div> <!--/.row-->
            </div><!--/.container-->
        </div>