
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h6>About Us</h6>
                       <h2 class="tittle" style="font-size:46px">Welcome to <span style="color:rgb(1, 123, 251)">C<i class="fa fa-cog fa-spin" ></i>DE GARAGE</span></h2>
                    </div>
                    <p style="text-align: justify;margin-top: -57px">Code Garage is a web-based solutions provider company. We are expert and best service provider in NodeJs, ROR, PHP, Android and Internet Marketing. Code Garage takes pride in its committed, competent and certified IT experts with comprehensive experience in diversified domains. They are your team in India that can bring value to any business in the globe. The Code Garage workforce believes that above all else, honest service is imperative to the success of any service provider-client relationship.</p>
                    <p style="text-align: justify;">When you understand technology the way we do, why restrain yourself to the server side? In this quick evolving world, we require intelligent websites that are quick and responsive to all situations. Just a firmly incorporated group with exceptionally learned developers can convey in high caliber at the speed you require.</p>
                    <div class="link-btn">
                        <a href="#" class="btn-style-one">Contact Now</a>
                    </div>
                    <br>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="image-box">
                        <figure>
                            <img src="/assets/about-img.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="vedio-section" style="background: url(/assets/2.jpg);">
        <div class="container">
            <div class="vedio-text text-center">
                <h1>Get the Top 1% Ruby Talent - RoR Development Teams‎</h1>
                
            </div>

            <div class="sec-title" style="text-align:center">
                
                <p>We’re in business just like you - we know how stressful it can be to work on projects with outside vendors, especially when large budgets are involved.</p>
            </div>                
        </div>
    </section>


    <section class="project-details" style="padding-top:10px">
        <div class="container">
            
            <div class="sec-title" >
                <h5>What We Do</h5>
                <p style="text-align:justify">We combine a group of our skilled/expert developers with your current development or business team to build new or keep up existing Ruby language based products.Our common stack additionally incorporates Ruby on Rails, Linux based frameworks, cloud services, databases, key/esteem stores, JavaScript with frameworks, and CSS. </p>
            </div>
            <div class="sec-title">
                <h5>How We Do It</h5>
                <p style="text-align: justify;">We analyze your team experience, organizational structure, existing workflows, product requirements, and goals.</p>
                        <p>We design a software development process for proficient, practical development while coordinating a group for your scale as a custom-made fit.</p>
                        <p style="text-align: justify;">We like Agile + Scrum with BDD and CI, however we only utilize what works for you. </p>
                        <p style="text-align: justify;">We comprehend on location gatherings are occasionally required and we'll be there when you require us.</p>
            </div>
        </div>
    </section>




    <section class="services-section">
        <div class="container">
            <div class="section-title text-center">
                
                <h2>Our Plan For Your Success</h2>
            </div>
            <div class="row">
               
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="item">

                        <ul class="services-link">
                                <li> <i class="fa fa-pencil-square-o" aria-hidden="true"></i><b style="color:#2f5d77;"> Weekly Reports</b></li>
                                    
                        </ul>
                        <p>Send weekly status reports and budget updates so there are no surprises. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="item">
                       
                        <ul class="services-link">
                                <li> <i class="fa fa-user-o" aria-hidden="true"></i><b style="color: #2f5d77;"> Use Experts</b></li>
                                
                        </ul>
                        <p>Use expert Ruby on Rails developers based in Boulder, CO to write great code.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="item">
                        <ul class="services-link">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>

                                    <b style="color:#2f5d77;"> Available</b></li>
                                
                        </ul>
                        <p>Be available after you launch to support your business into the future. </p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>


    <div class="container">
               <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                           <h2 style="color:#2f97d1;">Hire expert ROR developers-Experienced Team, Flexible Models</h2>
                           <span class="border-center"></span>
                           <p style="text-align: justify;"></p>
                           <p style="text-align: justify;"></p>
                    </div>
               
    
                    <div class="col-md-8 col-md-offset-2">
                            <h4 style="text-align: center;">Get inspire with powerful web development services of Ruby On Rails</h4>
                           
                           <span class="border-center"></span>
                            <%= form_for @new_contact do |f| %>
                                    <div class="messages"></div>
                                    <div class="controls">
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input id="form_email" type="email" name="contact[email]" class="form-control" placeholder="Email*" required="required" data-error="Valid email is required.">
                                                     <button class="filled-btn btn-comment">GET IN TOUCH
                                                </button></div>
                                            </div>
                                         

                                           
                                        </div>
                                    </div>
                            <%end%>
                    </div>
                </div> <!--/.row-->
                
                
</div>
            <br>
            <br>