<section class="service-details">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <ul class="service-menu">
                        <div class="sec-title">
                            <h4>Welcome</h4>
                        </div>

                        <p>Code Garage is a web-based solutions provider company. We are expert and best service provider in NodeJs, ROR, PHP, Android and Internet Marketing. Code Garage takes pride in its committed, competent and certified IT experts with comprehensive experience in diversified domains. They are your team in India that can bring value to any business in the globe. The Code Garage workforce believes that above all else, honest service is imperative to the success of any service provider-client relationship. </p>
                        
                        <p>When you understand technology the way we do, why restrain yourself to the server side? In this quick evolving world, we require intelligent websites that are quick and responsive to all situations. Just a firmly incorporated group with exceptionally learned developers can convey in high caliber at the speed you require.</p>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="item-holder">
                        <figure>
                            <img src="/assets/about-img.jpg" alt="">
                        </figure>
                        <div class="section-title">
                            <br>
                            <H1><b>Get the Top 1% Ruby Talent - RoR Development Teams‎</b></H1>
                            <br>
                            <p>We’re in business just like you - we know how stressful it can be to work on projects with outside vendors, especially when large budgets are involved. </p>
                       
                        </div>                        
                        
                        <div class="sec-title">
                            <h4>What We Do</h4>
                        </div>
                        <p>We combine a group of our skilled/expert developers with your current development or business team to build new or keep up existing Ruby language based products.Our common stack additionally incorporates Ruby on Rails, Linux based frameworks, cloud services, databases, key/esteem stores, JavaScript with frameworks, and CSS.</p>
                        <div class="sec-title">
                            <h4>How We Do It</h4>
                        </div>
                        <p>We analyze your team experience, organizational structure, existing workflows, product requirements, and goals.</p>
                        <p>We design a software development process for proficient, practical development while coordinating a group for your scale as a custom-made fit.</p>
                        <p>We like Agile + Scrum with BDD and CI, however we only utilize what works for you. </p>
                        <p>We comprehend on location gatherings are occasionally required and we'll be there when you require us.</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="container">
            <div class="section-title text-center">
                
                <h3><b>Our Plan For Your Success</b></h3>
            </div>
           
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="item">

                        <ul class="services-link">
                                <li> <i class="fa fa-pencil-square-o" aria-hidden="true"></i><b> Weekly Reports</b></li>
                                
                        </ul>
                        <p>Send weekly status reports and budget updates so there are no surprises. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="item">
                       
                        <ul class="services-link">
                                <li> <i class="fa fa-user-o" aria-hidden="true"></i><b> Use Experts</b></li>
                                
                        </ul>
                        <p>Use expert Ruby on Rails developers based in Boulder, CO to write great code.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="item">
                        <ul class="services-link">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>

                                    <b> Available</b></li>
                                
                        </ul>
                        <p>Be available after you launch to support your business into the future. </p>
                    </div>
                </div>
                
            </div>
        </div>
    
    <div class="lite-feature-area section-padding">
            <div class="container">
               <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                           <h2>Hire expert ROR developers-Experienced Team, Flexible Models</h2>
                           <span class="border-center"></span>
                           <p>We helped organizations make and deal with their online items by creating web administrations with ROR framework. At Mobiloitte, we give our customers superior applications that are strong in conveying complex functionalities in travel, education, money related, non­profit organizations, distributing, media and diversion, and all different e­business areas.</p>
                    </div>
               
    
                    <div class="col-md-8 col-md-offset-2">
                            <h4>Get inspire with powerful web development services of Ruby On Rails</h4>
                           
                           <span class="border-center"></span>
                           <form method="post" action="#">
                                    <div class="messages"></div>
                                    <div class="controls">
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email*" required="required" data-error="Valid email is required.">
                                                     <button class="filled-btn btn-comment">GET IN TOUCH
                                                </div>
                                            </div>
                                         

                                           
                                        </div>
                                    </div>
                                </form>
                           
                    </div>
                </div> <!--/.row-->
                
                
            </div> <!--/.container-->
        </div>  
    </section>  