
        <!--====== CONTACT INFO AREA ======-->
        <div id="contact" class="contact-info-area section-padding">
            <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-2" style="padding-top: 61px;">
                       <div class="section-title text-center">
                           <h2>Contact us</h2>
                           <span class="border-center"></span>
                           <p>We're Full Stack Developers, which implies we won't let you down when we have to roll out improvements to any piece of your project. We compose ffuture-proof backends that can speak with any "Kind of the year" Javascript Framework.</p>
                       </div>
                   </div>
               </div> <!--/.row-->
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-info-inner">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="contact-info">
                                        <div class="contact-icon">
                                            <img src="/assets/contact-info/find-on-map.png" alt="">
                                        </div>
                                        <h4>Our Location</h4>
                                        <p>Cabin-5B, E-55, Phase-8, Industrial Area, Mohali(Mohali Branch)</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="contact-info">
                                        <div class="contact-icon">
                                            <img src="/assets/contact-info/telephone.png" alt="">
                                        </div>
                                        <h4>Phone Number</h4>
                                        <p> 0172-5092226<br>7508164472</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="contact-info">
                                        <div class="contact-icon">
                                            <img src="/assets/contact-info/email-filled-closed-envelope.png" alt="">
                                        </div>
                                        <h4>Email Adddress</h4>
                                        <p>info@codegaragetech.com<br>career@codegaragetech.com</p>
                                    </div>
                                </div>
                            <div class="col-sm-3">
                                <div class="contact-info">
                                    <div class="contact-icon">
                                        <img src="/assets/contact-info/discuss-issue.png" alt="">
                                    </div>
                                    <h4>24/7 Online Support</h4>
                                    <p>farz.singh</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
                 
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-form-area">
                            <%= form_for @new_contact do |f| %>
                            
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input id="form_name" type="text" name="contact[name]" class="form-control" placeholder="Name*" required="required" data-error="Name is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input id="form_email" type="email" name="contact[email]" class="form-control" placeholder="Email*" required="required" data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="form_subject" type="text" name="contact[subject]" class="form-control" placeholder="Subject" required="required" data-error="Subject is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group text-area">
                                                <textarea id="form_message" name="contact[message]" class="form-control" placeholder="Message*" rows="7" required="required" data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="button" class="filled-btn" value="Send message" onclick="send_contact_response() ;clear_feilds()">
                                        </div>
                                    </div> <!--/.row-->
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div><!--/.container-->
        </div>


        <script type="text/javascript">
    function send_contact_response() {
        // alert("wewhgyfg")
        $.ajax({
                type: "POST",
                dataType: 'json',
                headers: {
                    'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
                },
                url: '<%=contacts_path%>',
                data: $("#new_contact").serialize(),

                success: function(data) {
                    // $("#new_contact").trigger('reset');
                    if (data["status_notify"]=="success"){
                        $.notify("Thanks for contacting us. We will contact you shortly.", "success");                                    
                        

                    }

                    else{
                         $.notify("Please Try Again! something went wrong", "warn");                                    

                    }

                },
                error: function(err){
                        $.notify("Something Went Wrong! Please Try Again","error");
                                                                
                                                         
                    
                }

                })

    }

    function clear_feilds(){
      $("#new_contact").trigger('reset');


    }
    

</script>