
        <!--====== CONTACT INFO AREA ======-->
        <div id="contact" class="contact-info-area section-padding">
            <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                       <div class="section-title text-center">
                           <h2>Contact us</h2>
                           <span class="border-center"></span>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices.</p>
                       </div>
                   </div>
               </div> <!--/.row-->
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-info-inner">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="contact-info">
                                        <div class="contact-icon">
                                            <img src="/assets/contact-info/find-on-map.png" alt="">
                                        </div>
                                        <h4>Our Location</h4>
                                        <p>1707 Orlando Central Pkwy Ste 100, USA Orlando, FL</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="contact-info">
                                        <div class="contact-icon">
                                            <img src="/assets/contact-info/telephone.png" alt="">
                                        </div>
                                        <h4>Phone Number</h4>
                                        <p>+(241) 123 4567<br>+(291) 123 8167</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="contact-info">
                                        <div class="contact-icon">
                                            <img src="/assets/contact-info/email-filled-closed-envelope.png" alt="">
                                        </div>
                                        <h4>Email Adddress</h4>
                                        <p>info@lite.com<br>admin@lite.com</p>
                                    </div>
                                </div>
                            <div class="col-sm-3">
                                <div class="contact-info">
                                    <div class="contact-icon">
                                        <img src="/assets/contact-info/discuss-issue.png" alt="">
                                    </div>
                                    <h4>24/7 Online Support</h4>
                                    <p>+(01) 423 801 3581<br>Skype: hasan.256</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
                 
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-form-area">
                            <form id="contact-form" method="post" action="http://programmerhasan.com/demos/lite/lite/contact.php">
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Name*" required="required" data-error="Name is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Email*" required="required" data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="form_subject" type="text" name="subject" class="form-control" placeholder="Subject" required="required" data-error="Subject is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group text-area">
                                                <textarea id="form_message" name="message" class="form-control" placeholder="Message*" rows="7" required="required" data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" class="filled-btn" value="Send message">
                                        </div>
                                    </div> <!--/.row-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div><!--/.container-->
        </div>