<!--======= HOME AREA =======-->
        <div id="home" class="lite-parallax-image-area" data-stellar-background-ratio="0.6" style="background-image: url(/assets/parallax-bg.jpg);">
            <div class="slide-item-table">
                <div class="slide-item-tablecell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content">
                                    <h2>Welcome to Code Garage Tech</h2>
                                    <p>We Build Valuable Solutions With Code</p>
                                    <div class="slide-btn">
                                        <a href="#" class="filled-btn">Learn more</a>
                                        <a href="#service" class="bordered-btn smoth-scroll">Our services</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!--/.row-->
                    </div> <!--/.container-->
                </div>
            </div>
        </div>

        
        
        <!--===== SERVICE AREA =====-->
        <div id="service" class="lite-service-area section-padding">
            <div class="container">
               <div class="row">
                    <div class="col-md-8 col-md-offset-2" >
                      <div class="section-title text-center">
                           <h2>CODE GARAGE Tech - ROR Expert</h2>
                           <span class="border-center"></span>
                           <p>We at Code Garage is a dedicated team of ruby on rails experts that ensures you to offer the most valuable code in form of a software or a website and will turn your ideas into reality.We're Full Stack Developers, which implies we won't let you down when we have to roll out improvements to any piece of your project. We compose ffuture-proof backends that can speak with any "Kind of the year" Javascript Framework.</p><br>
                           <p>When you understand technology the way we do, why restrain yourself to the server side? In this quick evolving world, we require intelligent websites that are quick and responsive to all situations. Just a firmly incorporated group with exceptionally learned developers can convey in high caliber at the speed you require.</p><br>
                           <p>We are flexible in timings. We believe in long term relationship for your business and our duty.</p>

                       </div>
                    </div>
                </div> <!--/.row-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-service wow fadeInUp" data-wow-delay="0.2s">
                            <img src="/assets/service/2.png" alt="">
                            <h3>Web Analysis</h3>
                            <p>Varied web improvement needs? At Code Garage Tech, we have the experience and aptitude to deal with all! From customized application development, offshore web development services to database management solutions using PHP, ROR, WordPress,Node js, we give full scope. With us you'll unquestionably appreciate the business stage you've generally wanted!</p>
                         </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-service wow fadeInUp" data-wow-delay="0.4s">
                            <img src="/assets/service/4.png" alt="">
                            <h3>App Development</h3>
                            <p>Code Garage Tech is a leading provider of iPhone applications that takes pride in conveying exceptionally powerful and far reaching applications, uncommonly custom fitted to cook the requirements of different industry verticals. Our proven expertise how about we create and convey highlight rich, cutting edge iPhone apps.We are devoted to giving class app designing services in India and are glad to have an immense base of offshore and domestic customers.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-service wow fadeInUp" data-wow-delay="0.6s">
                            <img src="/assets/service/5.png" alt="">
                            <h3>Seo Optimization</h3>
                            <p>Achieve new heights with our unmatched Search Engine Optimization Services. In two decades, Code Garage Tech has delivered an impeccable record as one of the best Search Engine Optimization organization. We don't dimension on any quality of value and strictly follow white hat techniques.Our unparalleled Search Engine Optimization administrations will without a doubt get you noticed globally!</p>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </div>
        
        <!--====== WORK AREA ======-->
        <div id="work" class="lite-work-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="section-title text-center">
                           <h2>our recent work</h2>
                           <span class="border-center"></span>
                           <p>The secret to get a desired job is to have a great portfolio. Code Garage Team has worked on top rated projects around the world, you can checkout some from the mentioned portfolio: </p>
                       </div>
                    </div>
                </div> <!--/.row-->
                
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-work">
                            <img src="/assets/portfolio1.png" alt="">
                            <div class="item-hover">
                                <div class="work-table">
                                    <div class="work-tablecell">
                                        <div class="hover-content">
                                            <h3>Project Name</h3>
                                            <p>branding print</p>
                                            <a href="single-project.html">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                       <div class="single-work">
                            <img src="/assets/portfolio2.png" alt="">
                            <div class="item-hover">
                                <div class="work-table">
                                    <div class="work-tablecell">
                                        <div class="hover-content">
                                            <h3>Project Name</h3>
                                            <p>branding print</p>
                                            <a href="single-project.html">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-work">
                            <img src="/assets/portfolio3.png" alt="">
                            <div class="item-hover">
                                <div class="work-table">
                                    <div class="work-tablecell">
                                         <div class="hover-content">
                                           <h3>Project Name</h3>
                                           <p>digital product</p>
                                            <a href="single-project.html">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div> <!--/.row-->
                <a class="filled-btn work-btn" href="project.html">more work</a>
            </div><!--/.container-->
        </div>
        
       <!--====== FEATURE AREA ======-->
        <div class="lite-feature-area section-padding">
            <div class="container">
               <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="section-title text-center">
                           <h2>our working area</h2>
                           <span class="border-center"></span>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices.</p>
                       </div>
                    </div>
                </div> <!--/.row-->
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="0.2s">
                           <i class="fa fa-cube"></i>
                            <h3>Ruby on Rails</h3>
                            <p>Code Garage professionals are always ready to run your critical ROR projects.. We are RoR experts, but building great products would not be possible without knowledge. Whether you need a new build or support with an existing one, we’re ready to provide exceptional quality code. </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                       <div class="single-feature wow fadeInUp" data-wow-delay="0.4s">
                           <i class="fa fa-free-code-camp"></i>
                            <h3>Android</h3>
                            <p>We are Specialize in speed. Get your Mobile apps ready in minimum time span.
We Offer Custom Android App Development Services For Businesses and Startups To Engage Users Effectively </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="0.6s">
                           <i class="fa fa-bar-chart"></i>
                            <h3>Seo Optimization</h3>
                            <p>In the regularly changing universe of search engine optimization, one goal stays consistent: traffic. The higher a site ranks on a search engine comes about page as observed by a client, the more activity the site will receive.We are specialists at social media, so we stay aware of patterns and technology.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="0.8s">
                           <i class="fa fa-camera"></i>
                            <h3>Node JS</h3>
                            <p>We are aware of latest updates of Node JS, an open source Java Script platform.Hire a dedicated team of NodeJS Developers from Code Garage Tech, for Mobile or web applications as well as module development. Our developers will deliver you outstanding Nodejs development services.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="1.0s">
                           <i class="fa fa-object-group"></i>
                            <h3>Indisturial Training</h3>
                            <p>The premier Code carport Tech takes pride in presenting exhaustive training programs for students having a place with different divisions. The a six months/Weeks industrial training at our Chandigarh based establishment institute with excellent course works. We expect to offer ideal programming and system based educational modules to experts and students from fluctuating fields.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="1.2s">
                           <i class="fa fa-umbrella"></i>
                            <h3>PHP/Wordpress</h3>
                            <p>We have best developers in our team who are expert in PHP and Wordpress.We Deal With Top-Notch Quality WordPress Web Development At Affordable Rates!  Get custom wordPress cms development service for migration, plugin development, programming, installation  design at reasonable cost.,</p>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </div>
        
        <!--====== CTA AREA ======-->
        <div class="lite-cta-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 wow fadeInLeft" data-wow-delay="0.2s">
                        <h3>We Are The Best Digital Agency Ever!</h3>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="cta-btn">
                           <a class="bordered-btn" href="#">Purchase Now</a>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </div>
        
         <!--==== TESTIMONIAL AREA =====-->
        <div id="testimonial" class="lite-testimonial-area section-padding">
            <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                       <div class="section-title text-center">
                           <h2>Our Client loves</h2>
                           <span class="border-center"></span>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices.</p>
                       </div>
                   </div>
               </div> <!--/.row-->
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-list">
                            <div class="single-testimonial">
                                <div class="testimonial-author">
                                    <div class="testimonial-image">
                                        <img src="/assets/testimonial/1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <div class="testimonial-text">
                                       <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
                                       <h3 class="testimonial-autohr-info">Micheal bean<span>creative agency</span></h3>
                                   </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="testimonial-author">
                                    <div class="testimonial-image">
                                        <img src="/assets/testimonial/2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <div class="testimonial-text">
                                       <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
                                       <h3 class="testimonial-autohr-info">Ryan Waltz<span>soft-tec inc.</span></h3>
                                   </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="testimonial-author">
                                    <div class="testimonial-image">
                                        <img src="/assets/testimonial/3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <div class="testimonial-text">
                                       <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
                                       <h3 class="testimonial-autohr-info">Felica Queen<span>themelabbd</span></h3>
                                   </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="testimonial-author">
                                    <div class="testimonial-image">
                                        <img src="/assets/testimonial/4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <div class="testimonial-text">
                                       <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</p>
                                       <h3 class="testimonial-autohr-info">Jhon doe<span>creative agency</span></h3>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- / row -->
            </div> <!--/.container-->
        </div>
        
        <!--===== STAT AREA ======-->    
        <div class="stat-area section-padding" style="background-image: url(/assets/stat-bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-stat">
                            <i class="fa fa-heart"></i>
                            <h2 class="counter">335</h2>
                            <h3>Happy Clients</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-stat">
                            <i class="fa fa-coffee"></i>
                            <h2 class="counter">527</h2>
                            <h3>Cups of tea</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-stat">
                            <i class="fa fa-briefcase"></i>
                            <h2 class="counter">756</h2>
                            <h3>Projects completed</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-stat">
                            <i class="fa fa-handshake-o"></i>
                            <h2 class="counter">245</h2>
                            <h3>Agreements </h3>
                        </div>
                    </div>
                </div> <!--/.row -->
            </div> <!--/.container -->
        </div>
        
         <!--===== TEAM AREA ======-->
        <div id="team" class="lite-team-area section-padding">
            <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                       <div class="section-title text-center">
                           <h2>Our Team</h2>
                           <span class="border-center"></span>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices.</p>
                       </div>
                   </div>
               </div> <!--/.row-->
               
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-member">
                            <div class="member-image">
                                <img src="/assets/team/1.jpg" alt="">
                                <div class="member-overlay">
                                    <div class="member-social">
                                        <div class="pos-vertical-center">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="member-info">
                                <h3>Johnathan Doe<span>Senior Developer</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-member">
                            <div class="member-image">
                                <img src="/assets/team/2.jpg" alt="">
                                <div class="member-overlay">
                                    <div class="member-social">
                                        <div class="pos-vertical-center">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="member-info">
                                <h3>Martin Smith<span>Senior Developer</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-member">
                            <div class="member-image">
                                <img src="/assets/team/3.jpg" alt="">
                                <div class="member-overlay">
                                    <div class="member-social">
                                        <div class="pos-vertical-center">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="member-info">
                                <h3>Mahamudul hasan<span>Senior Developer</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-member">
                            <div class="member-image">
                                <img src="/assets/team/4.jpg" alt="">
                                <div class="member-overlay">
                                    <div class="member-social">
                                        <div class="pos-vertical-center">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="member-info">
                                <h3>Alex Smith<span>Senior Developer</span></h3>
                            </div>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </div>
        
        <!--====== BLOG AREA ========-->
        <div id="blog" class="lite-blog-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center">
                           <h2>Our leatest blog</h2>
                           <span class="border-center"></span>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices.</p>
                        </div>
                    </div>
                </div> <!--/.row-->
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-blog">
                            <img src="/assets/blog/blog1.jpg" class="img-responsive" alt="">
                            <div class="post-content">
                                <h3>How to creat your own website</h3>
                                <p class="blog-post-date">16 June, 2017</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                                <a class="read-more-btn" href="single-blog.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                         <div class="single-blog">
                            <img src="/assets/blog/blog2.jpg" class="img-responsive" alt="">
                            <div class="post-content">
                                <h3>How to creat your own website</h3>
                                <p class="blog-post-date">16 June, 2017</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                                <a class="read-more-btn" href="single-blog.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                         <div class="single-blog">
                            <img src="/assets/blog/blog3.jpg" class="img-responsive" alt="">
                            <div class="post-content">
                                <h3>How to creat your own website</h3>
                                <p class="blog-post-date">16 June, 2017</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                                <a class="read-more-btn" href="single-blog.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div> <!--/.row -->
            </div> <!--/.container -->
        </div>
        
        <!--========== Subscribtion section ==========-->
        <div class="subscription-area section-padding">
            <div class="container all-light">
                <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                       <div class="section-title text-center">
                           <h2>Subscribe Today</h2>
                       </div>
                   </div>
               </div> <!--/.row-->
               <div class="row">
                   <div class="col-md-8 col-md-offset-2 text-center">
                        <form class="subscription-form form js-form" method="POST">
                          <input autocomplete="off" required type="email" name="email" id="s-email" class="form-control" placeholder="Enter Email">
                          <button type="submit" class="btn-sm btn-submit bordered-btn">
                            Subscribe
                          </button>
                          <label for="s-email" class="js-result"></label>
                        </form>
                   </div>
               </div>
            </div>
        </div>
        
       
         <!--===== GOOGLE MAP AREA ======-->
       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d54885.42221558016!2d76.706823!3d30.708871999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4afa2dfe63d6ed6!2sCode+Garage+Tech!5e0!3m2!1sen!2sin!4v1507569957654" width="600" height="450" frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>