<div class="lite-breadcroumb-area" data-stellar-background-ratio="0.6" style="background-image: url(/assets/blog-bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Single Project</h1>
                        <div class="breadcroumb">
                            <a href="index.html">Home</a>
                            >
                            <span class="current">Single Project</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===== END BREADCROUMB AREA =====-->
        
        <div class="lite-single-project-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="project-slides">
                              <div class="single-project-slide">
                                  <img src="/assets/work/1.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="single-project-slide">
                                  <img src="/assets/work/2.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="single-project-slide">
                                  <img src="/assets/work/3.jpg" class="img-responsive" alt="">
                              </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="project-details">
                           <h3>Branding and Identity</h3>
                            <div class="project-author-details">
                                <ul>
                                    <li><span>Client: </span>Themelabbd</li>
                                    <li><span>Location: </span>Tanta, Algharbia</li>
                                    <li><span>Date: </span>May 4, 2017</li>
                                    <li><span>Category:  </span>design, development</li>
                                </ul>
                            </div>
                            <div class="project-share">
                                <span>Share This Project:</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <p><a class="filled-btn" href="#">Project link</a></p>
                        </div>
                    </div>
                </div>
           
                <hr class="divider">
        
               <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="section-title text-center">
                           <h2>Related Projects</h2>
                           <span class="border-center"></span>
                       </div>
                    </div>
                </div> <!--/.row-->
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-work">
                            <img src="/assets/work/1.jpg" alt="">
                            <div class="item-hover">
                                <div class="work-table">
                                    <div class="work-tablecell">
                                        <div class="hover-content">
                                            <h3>Project Name</h3>
                                            <p>branding print</p>
                                            <a href="single-project.html">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                       <div class="single-work">
                            <img src="/assets/work/2.jpg" alt="">
                            <div class="item-hover">
                                <div class="work-table">
                                    <div class="work-tablecell">
                                        <div class="hover-content">
                                            <h3>Project Name</h3>
                                            <p>branding print</p>
                                            <a href="single-project.html">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-work">
                            <img src="/assets/work/3.jpg" alt="">
                            <div class="item-hover">
                                <div class="work-table">
                                    <div class="work-tablecell">
                                         <div class="hover-content">
                                           <h3>Project Name</h3>
                                           <p>digital product</p>
                                            <a href="single-project.html">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div>
        </div>