<section class="project-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="image-box">
                        <figure>
                            <img src="/assets/ucview.png" >
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="image-text">
                        <h2>UCVIEW</h2>
                        <p>This application is a tool using which user can design his own adds. Application system is attached to display(In Malls and shops) and the adds are being displayed as per the settings by user.</p>
                        <br>
                        <h4>Technologies</h4>
                        <ul class="project-menu">
                            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Rails 4.2, Psql, AngularJs, AJAX, JavaScript, JQuery</li>
                        </ul>
                        <h4>Tools</h4>
                        <ul class="project-menu">
                            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>GIT, Sublime, Firebug</li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="sec-title">
                <h5>About Project</h5>
                <p>Excepteur sint occaecat cupidatat non proident sunt culpa qui officia deserunt mollit anim est labor. Sed perspiciatis unde omnis iste natus error.sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Nemo enim ipsam volup tatemqui avoluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non numquam.</p>
            </div> -->
        </div>
    </section>
