
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error | 404 - Bad Request</title>
  <meta name="description" content="Error | 404 - Bad Request">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "bootstrap.min" %>

<%= stylesheet_link_tag "animate.min" %>

<%= stylesheet_link_tag "responsive" %>

<%= stylesheet_link_tag "cog" %>

<style media="screen">

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}

/*-- banner --*/
.error-page{
	background:url("../images/.jpg");
	background-size:cover;
	background: white;
}
.error-page p {
		margin: 1em 0;
		text-align: center;
		color: #000;
		font-size: 1em;
}
.error-page h1 {
		font-size: 4em;
		text-transform: capitalize;
		font-weight: 300;
		padding: 1em 0;
		text-align: center;
		letter-spacing: 4px;
		color: #FFFFFF;
}
.error-page h2 {
		text-align: center;
		font-size: 4em;
		text-shadow: 2px 2px 4px #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
}
.icon {
		text-align: center;
		margin: 4em 0 0;
}
.icon i.fa {
		font-size: 10em;
		color: #FFC107;
}
/*-- navigation --*/
.navbar-default {
		background-color: transparent;
		border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
}
.navbar-default .navbar-nav > .active > a{
	color:#FFF;
		background-color:transparent;
}
.navbar-nav {
		float: none !important;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: #FFFFFF;
		background-color: #489ed9;
}
.navbar-default .navbar-nav > li > a {
		color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #FFFFFF;
		background-color: #FFC107;
		border: 2px solid #FFC107;
}
.navbar-nav>li {
		float: none;
		display: inline-block;
		text-align: center;
		margin: 0 1em;
}
.navbar-nav>li>a {
		padding: 1em 2em;
		background: none;
		color: #ffffff;
		border: 2px solid #FFFFFF;
}
.navbar-nav>li>a:hover{
		background: #FFC107;
		border: 2px solid #FFC107;
}
ul.nav.navbar-nav {
		text-align: center;
		margin: 6em 0 3em;
}
.navbar-nav a {
		font-size: 1.4em;
}



.filled-btn {
    background: #3b99d5 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 26px;
    text-transform: uppercase;
    transition: 0.3s;
}
.filled-btn.btn-comment {
    border: 0 solid;
    margin-top: 10px;
}
/*-- //navigation --*/
/*-- //banner --*/
/*-- about --*/

/*-- //team --*/
/*-- services --*/

</style>
<!-- //Custom Theme files -->
<!-- web-fonts -->
<!-- //web-fonts -->

</head>
<body>
<!-- /banner -->
<section class="error-page" id="home">
	<div class="container">
		<header class="heading-1" style="margin-bottom: -50px;">
			<div class="icon">
				<img src="/assets/brokensystem.png" height="300px" width="300px">
			</div>
			<h2>
				404! Page Not Found
			</h2>
			<p>The server indicates that you did a
				mistake of misspelling the URL or
				requesting for a page that is no longer
				available.</p>
        <p>Please try going back to <a href="www.codegaragetech.com">CodeGarageTech</a>
<br>
Or please email us letting us know the error <a href="mailto:info@codegaragetech.com?subject=CodeGarageTechh website error">info@codegaragetech.com</a></p>
		</header>
		<!-- navigation -->
		<nav class="navbar navbar-default" style="margin-bottom:0px">
			<div class="container-fluid">
				<div class="navbar-header">
					<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar"> -->
					<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class=" navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="active">
						<li><button class="filled-btn btn-comment" onclick="location='/'">Return to HOME</button></li>
            <!-- <li><button class="filled-btn btn-comment" onclick="location='/contact'">REQ</button></li>
            <li><button class="filled-btn btn-comment" onclick="location='/contact'">REQU</button></li>
            <li><button class="filled-btn btn-comment" onclick="location='/contact'">RE</button></li>
            <li><button class="filled-btn btn-comment" onclick="location='/contact'">REQU</button></li> -->


					</ul>
				</div>

			</div>
		</nav>
		<!-- //navigation -->
	</div>
</section>

</body>
</html>
