<p>
	Hi,<br>
</p>

<p>A resume is bieng uploaded by a new candidate</p>
<p>
	 Name: <%=@new_candidate.first_name%> <%= @new_candidate.last_name%> <br>
	 Email: <%=@new_candidate.email%> <br>
	 Phone Number: <%=@new_candidate.phone_number%> <br>
</p>

<p>Regards,<br>
Codegaragetech</p>